In [18]:
import pandas as panda
wine_csv = 'data/wine_equality_edited.csv'
df = panda.read_csv(wine_csv)
df.head()

,i,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,white
1,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5,white
2,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5,white
3,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6,white
4,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,white

In [19]:
df.mean()

i                       24.500000
fixed_acidity            7.510000
volatile_acidity         0.552000
citric_acid              0.193200
residual_sugar           2.644000
chlorides                0.104140
free_sulfur_dioxide     15.560000
total_sulfur_dioxide    54.340000
density                  0.996818
pH                       3.336600
sulphates                0.683600
alcohol                  9.742000
quality                  5.280000
dtype: float64

In [20]:
df.groupby('quality').mean()

,i,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,,
4,35.50000,6.625000,0.712500,0.155000,2.700000,0.100000,9.5000,39.75000,0.995600,3.510000,0.512500,10.30000
5,23.21875,7.428125,0.561562,0.188438,2.521875,0.099031,15.5625,62.09375,0.996866,3.317812,0.720625,9.60625
6,27.20000,7.960000,0.489000,0.215000,3.360000,0.134200,17.0000,39.90000,0.997370,3.334000,0.655000,9.88000
7,17.00000,7.925000,0.472500,0.215000,1.775000,0.074000,18.0000,43.00000,0.996275,3.320000,0.630000,9.92500

In [21]:
df.groupby(['quality', 'color']).mean()

                      i  fixed_acidity  volatile_acidity  citric_acid  \
quality color
4       red    35.50000       6.625000          0.712500     0.155000
        white  35.50000       6.625000          0.712500     0.155000
5       red    23.21875       7.428125          0.561562     0.188438
        white  23.21875       7.428125          0.561562     0.188438
6       red    27.20000       7.960000          0.489000     0.215000
        white  27.20000       7.960000          0.489000     0.215000
7       red    17.00000       7.925000          0.472500     0.215000
        white  17.00000       7.925000          0.472500     0.215000

               residual_sugar  chlorides  free_sulfur_dioxide  \
quality color
4       red          2.700000   0.100000               9.5000
        white        2.700000   0.100000               9.5000
5       red          2.521875   0.099031              15.5625
        white        2.521875   0.099031              15.5625
6       red          3.360000   0.134200              17.0000
        white        3.360000   0.134200              17.0000
7       red          1.775000   0.074000              18.0000
        white        1.775000   0.074000              18.0000

               total_sulfur_dioxide   density        pH  sulphates   alcohol
quality color
4       red                39.75000  0.995600  3.510000   0.512500  10.30000
        white              39.75000  0.995600  3.510000   0.512500  10.30000
5       red                62.09375  0.996866  3.317812   0.720625   9.60625
        white              62.09375  0.996866  3.317812   0.720625   9.60625
6       red                39.90000  0.997370  3.334000   0.655000   9.88000
        white              39.90000  0.997370  3.334000   0.655000   9.88000
7       red                43.00000  0.996275  3.320000   0.630000   9.92500
        white              43.00000  0.996275  3.320000   0.630000   9.92500

In [22]:
df.groupby(['quality', 'color'], as_index=False)\
    .mean()

,quality,color,i,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,4,red,35.50000,6.625000,0.712500,0.155000,2.700000,0.100000,9.5000,39.75000,0.995600,3.510000,0.512500,10.30000
1,4,white,35.50000,6.625000,0.712500,0.155000,2.700000,0.100000,9.5000,39.75000,0.995600,3.510000,0.512500,10.30000
2,5,red,23.21875,7.428125,0.561562,0.188438,2.521875,0.099031,15.5625,62.09375,0.996866,3.317812,0.720625,9.60625
3,5,white,23.21875,7.428125,0.561562,0.188438,2.521875,0.099031,15.5625,62.09375,0.996866,3.317812,0.720625,9.60625
4,6,red,27.20000,7.960000,0.489000,0.215000,3.360000,0.134200,17.0000,39.90000,0.997370,3.334000,0.655000,9.88000
5,6,white,27.20000,7.960000,0.489000,0.215000,3.360000,0.134200,17.0000,39.90000,0.997370,3.334000,0.655000,9.88000
6,7,red,17.00000,7.925000,0.472500,0.215000,1.775000,0.074000,18.0000,43.00000,0.996275,3.320000,0.630000,9.92500
7,7,white,17.00000,7.925000,0.472500,0.215000,1.775000,0.074000,18.0000,43.00000,0.996275,3.320000,0.630000,9.92500

In [23]:
df.groupby(
    ['quality', 'color'], as_index=False
)['pH'].mean()

   quality  color        pH
0        4    red  3.510000
1        4  white  3.510000
2        5    red  3.317812
3        5  white  3.317812
4        6    red  3.334000
5        6  white  3.334000
6        7    red  3.320000
7        7  white  3.320000

In [24]:
# Find the mean quality of each wine type
df.groupby('color').mean().quality

color
red      5.28
white    5.28
Name: quality, dtype: float64

In [25]:
# View the min, 25%, 50%, 75%, max pH values
df.describe().pH

count    100.00000
mean       3.33660
std        0.14604
min        3.04000
25%        3.25000
50%        3.33500
75%        3.42000
max        3.90000
Name: pH, dtype: float64

In [26]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [3.04,3.25,3.34,3.42,3.9]
# Labels for the four acidity level groups
bin_names = ['high', 'mod_high', 'medium', 'low']
# create a new column
df['acidity_levels'] = panda.cut(
    df['pH'], bin_edges, labels=bin_names
)
df.head()

,i,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,white,low
1,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5,white,high
2,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5,white,mod_high
3,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6,white,high
4,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,white,low

In [27]:
df.groupby('acidity_levels').mean().quality

acidity_levels
high        5.307692
mod_high    5.076923
medium      5.636364
low         5.083333
Name: quality, dtype: float64

In [28]:
df.to_csv(wine_csv, index=False)