In [19]:
import numpy as np
import pandas

# Hierarchical Indexing

In [20]:
# code
data = pandas.Series(
    np.arange(9),
    index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
           [1, 2, 3, 1, 3, 1, 2, 2, 3]]
)

o = [
    data, '','data.index',
    data.index, '','data["b"]',
    # can query the multi-index
    data['b'], '','data["b":"c"]',
    data['b':'c'], '','data.loc[["b","d"]]',
    data.loc[['b', 'd']], '','data.loc[:, 2]',
    data.loc[:, 2], '','data.unstack',
    data.unstack(), '',''
]
o

# dataframes
frame = pandas.DataFrame(np.arange(12).reshape(4,3) + 1,
                         # ['a', 'a', 'b', 'b']
                        index=[[1,1,2,2], [1, 2, 1, 2]],
                        columns=[['Ohio', 'Ohio', 'Colorado'],
                                ['Green', 'Red', 'Green']])
frame.index.names = ['phase', 'group']
frame.columns.names = ['state', 'color']
o = [
    frame, '','frame["Ohio"]',
    frame['Ohio'], '','',
]
o

[state        Ohio     Colorado
 color       Green Red    Green
 phase group
 1     1         1   2        3
       2         4   5        6
 2     1         7   8        9
       2        10  11       12,
 '',
 'frame["Ohio"]',
 color        Green  Red
 phase group
 1     1          1    2
       2          4    5
 2     1          7    8
       2         10   11,
 '',
 '']

In [21]:
frame  # hierarchical index

state        Ohio     Colorado
color       Green Red    Green
phase group
1     1         1   2        3
      2         4   5        6
2     1         7   8        9
      2        10  11       12

## Reordering and Sorting Levels

In [22]:
# methods to rem
"""
.swaplevel()
.sortindex()
"""

# code
o = [
    frame, '',"frame.swaplevel('group', 'phase')",
    frame.swaplevel('group', 'phase'), '','frame.sort_index(level=1)',
    frame.sort_index(level=1), '',"frame.swaplevel('phase','group').sort_index(level=0)",
    frame.swaplevel('phase','group').sort_index(level=0)
]
o

[state        Ohio     Colorado
 color       Green Red    Green
 phase group
 1     1         1   2        3
       2         4   5        6
 2     1         7   8        9
       2        10  11       12,
 '',
 "frame.swaplevel('group', 'phase')",
 state        Ohio     Colorado
 color       Green Red    Green
 group phase
 1     1         1   2        3
 2     1         4   5        6
 1     2         7   8        9
 2     2        10  11       12,
 '',
 'frame.sort_index(level=1)',
 state        Ohio     Colorado
 color       Green Red    Green
 phase group
 1     1         1   2        3
 2     1         7   8        9
 1     2         4   5        6
 2     2        10  11       12,
 '',
 "frame.swaplevel('phase','group').sort_index(level=0)",
 state        Ohio     Colorado
 color       Green Red    Green
 group phase
 1     1         1   2        3
       2         7   8        9
 2     1         4   5        6
       2        10  11       12]

## Summary Statistics by Level

In [23]:
"""
.sum(level, axis)
"""

# code
o = [
    '', 'frame.sum(level="group")',
    frame.sum(level='group'), '','frame.sum(level="color", axis=1)',
    frame.sum(level="color", axis=1), '','',
]
o

['',
 'frame.sum(level="group")',
 state  Ohio     Colorado
 color Green Red    Green
 group
 1         8  10       12
 2        14  16       18,
 '',
 'frame.sum(level="color", axis=1)',
 color        Green  Red
 phase group
 1     1          4    2
       2         10    5
 2     1         16    8
       2         22   11,
 '',
 '']

## Indexing with a Dataframes columns

In [24]:
# code

# Combining and Merging Datasets
## Database-Style DataFrame Joins

In [25]:
df1 = pandas.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pandas.DataFrame({'key': ['a', 'b', 'd'], 'data2': np.arange(3) + 100})
df3 = pandas.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df4 = pandas.DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})

o = [
    '','',
    df1, '','',
    df2, '','pandas.merge(df1, df2, on="key")',
    pandas.merge(df1, df2, on='key'), '','pandas.merge(df3, df4, left_on="lkey", right_on="rkey")',
    pandas.merge(df3, df4, left_on='lkey', right_on='rkey'), '','.merge(..., how="outer")',
    pandas.merge(df1, df2, how='outer')
]
o

['',
 '',
   key  data1
 0   b      0
 1   b      1
 2   a      2
 3   c      3
 4   a      4
 5   a      5
 6   b      6,
 '',
 '',
   key  data2
 0   a    100
 1   b    101
 2   d    102,
 '',
 'pandas.merge(df1, df2, on="key")',
   key  data1  data2
 0   b      0    101
 1   b      1    101
 2   b      6    101
 3   a      2    100
 4   a      4    100
 5   a      5    100,
 '',
 'pandas.merge(df3, df4, left_on="lkey", right_on="rkey")',
   lkey  data1 rkey  data2
 0    b      0    b      1
 1    b      1    b      1
 2    b      6    b      1
 3    a      2    a      0
 4    a      4    a      0
 5    a      5    a      0,
 '',
 '.merge(..., how="outer")',
   key  data1  data2
 0   b    0.0  101.0
 1   b    1.0  101.0
 2   b    6.0  101.0
 3   a    2.0  100.0
 4   a    4.0  100.0
 5   a    5.0  100.0
 6   c    3.0    NaN
 7   d    NaN  102.0]

In [26]:
# many-to-many joins, form the cartesian product of the rows
df1 = pandas.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
df2 = pandas.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'], 'data2': range(5)})
left = pandas.DataFrame({'key1': ['foo', 'foo', 'bar'],
                         'key2': ['one', 'two', 'one'],
                         'lval': [1, 2, 3]})
right = pandas.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                          'key2': ['one', 'one', 'one', 'two'],
                          'rval': [4, 5, 6, 7]})
left1 = pandas.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'], 'value': range(6)})
right1 = pandas.DataFrame({'group_val': [10.5, 20.5]}, index=['a', 'b'])

o = [
    '','pandas.merge(df1, df2, on="key", how="left")',
    pandas.merge(df1, df2, on='key', how='left'), '','pandas.merge(df1, df2, how="inner")',
    pandas.merge(df1, df2, on='key', how='inner'), '','left',
    left, '','right',
    right, '','pandas.merge(left, right, on=["key1","key2"], how="outer")',
    pandas.merge(left, right, on=['key1', 'key2'], how='outer'), '','pandas.merge(left, right, on="key1", suffixes=("_left","_right"))',
    pandas.merge(left, right, on='key1', suffixes=('_left', '_right')), '','left1',
    left1, '','right1',
    right1, '','pandas.merge(left1, right1, left_on="key", right_index=True)',
    pandas.merge(left1, right1, left_on='key', right_index=True), '','.merge(L, R, left_key="key", right_index=True, how="outer"',
    pandas.merge(left1, right1, left_on='key', right_index=True, how='outer'),

]
o

['',
 'pandas.merge(df1, df2, on="key", how="left")',
    key  data1  data2
 0    b      0    1.0
 1    b      0    3.0
 2    b      1    1.0
 3    b      1    3.0
 4    a      2    0.0
 5    a      2    2.0
 6    c      3    NaN
 7    a      4    0.0
 8    a      4    2.0
 9    b      5    1.0
 10   b      5    3.0,
 '',
 'pandas.merge(df1, df2, how="inner")',
   key  data1  data2
 0   b      0      1
 1   b      0      3
 2   b      1      1
 3   b      1      3
 4   b      5      1
 5   b      5      3
 6   a      2      0
 7   a      2      2
 8   a      4      0
 9   a      4      2,
 '',
 'left',
   key1 key2  lval
 0  foo  one     1
 1  foo  two     2
 2  bar  one     3,
 '',
 'right',
   key1 key2  rval
 0  foo  one     4
 1  foo  one     5
 2  bar  one     6
 3  bar  two     7,
 '',
 'pandas.merge(left, right, on=["key1","key2"], how="outer")',
   key1 key2  lval  rval
 0  foo  one   1.0   4.0
 1  foo  one   1.0   5.0
 2  foo  two   2.0   NaN
 3  bar  one   3.0   6.0
 4  bar  two   NaN   7.0,
 '',
 'pandas.merge(left, right, on="key1", suffixes=("_left","_right"))',
   key1 key2_left  lval key2_right  rval
 0  foo       one     1        one     4
 1  foo       one     1        one     5
 2  foo       two     2        one     4
 3  foo       two     2        one     5
 4  bar       one     3        one     6
 5  bar       one     3        two     7,
 '',
 'left1',
   key  value
 0   a      0
 1   b      1
 2   a      2
 3   a      3
 4   b      4
 5   c      5,
 '',
 'right1',
    group_val
 a       10.5
 b       20.5,
 '',
 'pandas.merge(left1, right1, left_on="key", right_index=True)',
   key  value  group_val
 0   a      0       10.5
 2   a      2       10.5
 3   a      3       10.5
 1   b      1       20.5
 4   b      4       20.5,
 '',
 '.merge(L, R, left_key="key", right_index=True, how="outer"',
   key  value  group_val
 0   a      0       10.5
 2   a      2       10.5
 3   a      3       10.5
 1   b      1       20.5
 4   b      4       20.5
 5   c      5        NaN]

## Merging on Index

In [27]:
lefth = pandas.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
                          'key2': [2000, 2001, 2002, 2001, 2002],
                          'data': np.arange(5.)})
righth = pandas.DataFrame(np.arange(12.).reshape((6, 2)),
                          index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                                 [2001, 2000, 2000, 2000, 2001, 2002]],
                          columns=['event1', 'event2'])
left2 = pandas.DataFrame([[1., 2.], [3., 4.], [5., 6.]], index=['a', 'c', 'e'], columns=['Ohio', 'Nevada'])
right2 = pandas.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]], index=['b', 'c', 'd', 'e'], columns=['Missouri', 'Alabama'])
o = [
    '','lefth',
    lefth, '','righth',
    righth, '','.merge(L, R, left_on=["key1","key2"], right_index=True, how="outer")',
    pandas.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer'), '','left2',
    left2, '','right2',
    right2, '','.merge(L, R, how="outer", left_index=True, right_index=True)',
    pandas.merge(left2, right2, how='outer', left_index=True, right_index=True), '','',
]
o

['',
 'lefth',
      key1  key2  data
 0    Ohio  2000   0.0
 1    Ohio  2001   1.0
 2    Ohio  2002   2.0
 3  Nevada  2001   3.0
 4  Nevada  2002   4.0,
 '',
 'righth',
              event1  event2
 Nevada 2001     0.0     1.0
        2000     2.0     3.0
 Ohio   2000     4.0     5.0
        2000     6.0     7.0
        2001     8.0     9.0
        2002    10.0    11.0,
 '',
 '.merge(L, R, left_on=["key1","key2"], right_index=True, how="outer")',
      key1  key2  data  event1  event2
 0    Ohio  2000   0.0     4.0     5.0
 0    Ohio  2000   0.0     6.0     7.0
 1    Ohio  2001   1.0     8.0     9.0
 2    Ohio  2002   2.0    10.0    11.0
 3  Nevada  2001   3.0     0.0     1.0
 4  Nevada  2002   4.0     NaN     NaN
 4  Nevada  2000   NaN     2.0     3.0,
 '',
 'left2',
    Ohio  Nevada
 a   1.0     2.0
 c   3.0     4.0
 e   5.0     6.0,
 '',
 'right2',
    Missouri  Alabama
 b       7.0      8.0
 c       9.0     10.0
 d      11.0     12.0
 e      13.0     14.0,
 '',
 '.merge(L, R, how="outer", left_index=True, right_index=True)',
    Ohio  Nevada  Missouri  Alabama
 a   1.0     2.0       NaN      NaN
 b   NaN     NaN       7.0      8.0
 c   3.0     4.0       9.0     10.0
 d   NaN     NaN      11.0     12.0
 e   5.0     6.0      13.0     14.0,
 '',
 '']

## Concatenating Along an Axis

In [28]:
# code

## Combining Data w/Overlap

In [29]:
# code

# Reshaping and Pivoting

In [30]:
# code

## Reshaping with Hierarchical Indexing

In [31]:
# code

## Pivoting "Long" to "Wide" Format

In [32]:
# code

## Pivoting "Wide" to "Long" Format

In [33]:
# code