# Handling Missing Data

In [3]:
import pandas
import numpy as np
from numpy import nan as NA

string_data = pandas.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
# .isnull() will return a boolean array
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

## Filtering Out Missing Data & Filling in Missing Data

In [7]:
# Series
data = pandas.Series([1, NA, 3.5, NA, 7])
clean = [
    data.dropna(), '','data[data.notnull()]',
    data[data.notnull()], '',''
]
clean

[0    1.0
 2    3.5
 4    7.0
 dtype: float64,
 '',
 'data[data.notnull()]',
 0    1.0
 2    3.5
 4    7.0
 dtype: float64,
 '',
 '']

In [17]:
# DataFrame's
data = pandas.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
data2 = pandas.Series([1., NA, 5, NA, 10])
df = pandas.DataFrame(np.random.randn(8,3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
clean = [
    data, '','',
    data.dropna(), '','data.dropna(how="all")',
    data.dropna(how='all'), '','df',
    df, '','df.dropna(thresh="2")',
    df.dropna(thresh=2), '','df.fillna(0)',
    df.fillna(0), '','df.fillna({1:0.5, 2:0}',
    df.fillna({1:0.5, 2:0}), '','.fillna(data2.mean())',
    df.fillna(data2.mean())
]
clean

[     0    1    2
 0  1.0  6.5  3.0
 1  1.0  NaN  NaN
 2  NaN  NaN  NaN
 3  NaN  6.5  3.0,
 '',
 '',
      0    1    2
 0  1.0  6.5  3.0,
 '',
 'data.dropna(how="all")',
      0    1    2
 0  1.0  6.5  3.0
 1  1.0  NaN  NaN
 3  NaN  6.5  3.0,
 '',
 'df',
           0         1         2
 0 -0.791521       NaN       NaN
 1 -0.269018       NaN       NaN
 2 -0.469925       NaN  1.772218
 3  0.397856       NaN -0.042834
 4  0.918176  0.428277 -0.639774
 5 -1.191737  2.444555  0.108843
 6  0.166983  0.932011 -2.659369
 7  0.008653  1.319615 -0.197740,
 '',
 'df.dropna(thresh="2")',
           0         1         2
 2 -0.469925       NaN  1.772218
 3  0.397856       NaN -0.042834
 4  0.918176  0.428277 -0.639774
 5 -1.191737  2.444555  0.108843
 6  0.166983  0.932011 -2.659369
 7  0.008653  1.319615 -0.197740,
 '',
 'df.fillna(0)',
           0         1         2
 0 -0.791521  0.000000  0.000000
 1 -0.269018  0.000000  0.000000
 2 -0.469925  0.000000  1.772218
 3  0.397856  0.000000 -0.042834
 4  0.918176  0.428277 -0.639774
 5 -1.191737  2.444555  0.108843
 6  0.166983  0.932011 -2.659369
 7  0.008653  1.319615 -0.197740,
 '',
 'df.fillna({1:0.5, 2:0}',
           0         1         2
 0 -0.791521  0.500000  0.000000
 1 -0.269018  0.500000  0.000000
 2 -0.469925  0.500000  1.772218
 3  0.397856  0.500000 -0.042834
 4  0.918176  0.428277 -0.639774
 5 -1.191737  2.444555  0.108843
 6  0.166983  0.932011 -2.659369
 7  0.008653  1.319615 -0.197740,
 '',
 '.fillna(data2.mean())',
           0         1         2
 0 -0.791521  5.333333  5.333333
 1 -0.269018  5.333333  5.333333
 2 -0.469925  5.333333  1.772218
 3  0.397856  5.333333 -0.042834
 4  0.918176  0.428277 -0.639774
 5 -1.191737  2.444555  0.108843
 6  0.166983  0.932011 -2.659369
 7  0.008653  1.319615 -0.197740]

# Data Transformations
## Removing Dupes

In [19]:
#

##