In [46]:
import pandas
import numpy as np
import re

df = pandas.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                       'key2': ['one', 'two', 'one', 'two', 'one'],
                       # np.random.randn(5)
                       'data1': [2, 2, 3, 4, 5], 'data2': [6, 7, 8, 9, 10]})
grouped = df['data1'].groupby(df['key1'])
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
o = [
    df, '', '',
    'grouped.mean()',
    grouped.mean(), '', '',
    'means',
    means, '', '',
    'means.unstack()',
    means.unstack(), '', '',
    "df['data1'].groupby([states, years]).mean()",
    df['data1'].groupby([states, years]).mean(), '', '',
    # use a simple column name
    df.groupby('key1').mean(), '', 'df.groupby(["key1", "key2"]).mean()',
    df.groupby(['key1', 'key2']).mean(), '', 'df.groupby(["key1", "key2"]).size()',
    # using groupby().size()
    df.groupby(['key1', 'key2']).size(), '', '',
]
o

[  key1 key2  data1  data2
 0    a  one      2      6
 1    a  two      2      7
 2    b  one      3      8
 3    b  two      4      9
 4    a  one      5     10,
 '',
 '',
 'grouped.mean()',
 key1
 a    3.0
 b    3.5
 Name: data1, dtype: float64,
 '',
 '',
 'means',
 key1  key2
 a     one     3.5
       two     2.0
 b     one     3.0
       two     4.0
 Name: data1, dtype: float64,
 '',
 '',
 'means.unstack()',
 key2  one  two
 key1
 a     3.5  2.0
 b     3.0  4.0,
 '',
 '',
 "df['data1'].groupby([states, years]).mean()",
 California  2005    2
             2006    3
 Ohio        2005    3
             2006    5
 Name: data1, dtype: int64,
 '',
 '',
       data1     data2
 key1
 a       3.0  7.666667
 b       3.5  8.500000,
 '',
 'df.groupby(["key1", "key2"]).mean()',
            data1  data2
 key1 key2
 a    one     3.5    8.0
      two     2.0    7.0
 b    one     3.0    8.0
      two     4.0    9.0,
 '',
 'df.groupby(["key1", "key2"]).size()',
 key1  key2
 a     one     2
       two     1
 b     one     1
       two     1
 dtype: int64,
 '',
 '']

## Iterating Over Groups

In [47]:
df

  key1 key2  data1  data2
0    a  one      2      6
1    a  two      2      7
2    b  one      3      8
3    b  two      4      9
4    a  one      5     10

In [48]:
for name, group in df.groupby('key1'):
    print("name: " + name + ", \ngroup:")
    print(group)

name: a,
group:
  key1 key2  data1  data2
0    a  one      2      6
1    a  two      2      7
4    a  one      5     10
name: b,
group:
  key1 key2  data1  data2
2    b  one      3      8
3    b  two      4      9

In [49]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(f'k1: {k1}, k2: {k2}, \ngroup:')
    print(group)

k1: a, k2: one,
group:
  key1 key2  data1  data2
0    a  one      2      6
4    a  one      5     10
k1: a, k2: two,
group:
  key1 key2  data1  data2
1    a  two      2      7
k1: b, k2: one,
group:
  key1 key2  data1  data2
2    b  one      3      8
k1: b, k2: two,
group:
  key1 key2  data1  data2
3    b  two      4      9

In [50]:

for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(f"\n\nk1: {k1}, k2: {k2}")
    print(group)

one_liner = dict(list(df.groupby('key1', axis=0)))

# are equivalent
g1a = df.groupby('key1')['data1']
g1b = df['data1'].groupby(df['key1'])
# are equivalent
g2a = df.groupby('key1')[['data1']]
g2b = df[['data1']].groupby(df['key1'])

g3a = df.groupby(['key1', 'key2'])[['data2']].mean()

grps = [
    'g1a', g1a,
    'g1b', g1b,
    'g2a', g2a,
    'g2b', g2b,
    'g3a', g3a
]
grps

k1: a, k2: one
  key1 key2  data1  data2
0    a  one      2      6
4    a  one      5     10


k1: a, k2: two
  key1 key2  data1  data2
1    a  two      2      7


k1: b, k2: one
  key1 key2  data1  data2
2    b  one      3      8


k1: b, k2: two
  key1 key2  data1  data2
3    b  two      4      9

['g1a',
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x7f9e9eb0c2b0>,
 'g1b',
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x7f9e9eb0c3d0>,
 'g2a',
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9e9eb0c280>,
 'g2b',
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9e9eb61970>,
 'g3a',
            data2
 key1 key2
 a    one       8
      two       7
 b    one       8
      two       9]

## Grouping with Dicts and Series

In [51]:
people = pandas.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'],
                          index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [2, 3]] = np.nan
people

               a         b         c         d         e
Joe    -1.764000  0.376083  0.021800 -0.626431  0.099864
Steve  -0.009525  0.228257  0.454674 -1.764388 -1.368883
Wes     1.384065 -1.242892       NaN       NaN  1.082347
Jim     1.478778  0.845218  0.312265  0.312396  0.075188
Travis -0.243493  2.709913 -1.285328  0.715103  0.840480

In [52]:
mapping = {
    'a': 'red',
    'b': 'red',
    'c': 'blue',
    'd': 'blue',
    'e': 'red',
    'f': 'orange'
}
map_series = pandas.Series(mapping)
o = [
    people.groupby(mapping, axis=1).sum(), '', '',
    people.groupby(map_series, axis=1).count(), '', '',
]
o

[            blue       red
 Joe    -0.604631 -1.288053
 Steve  -1.309714 -1.150151
 Wes     0.000000  1.223521
 Jim     0.624661  2.399183
 Travis -0.570225  3.306899,
 '',
 '',
         blue  red
 Joe        2    3
 Steve      2    3
 Wes        0    3
 Jim        2    3
 Travis     2    3,
 '',
 '']

## Grouping with Functions

In [53]:
key_list = ['one', 'one', 'one', 'two', 'two']
o = [
    people.groupby(len).sum(), '', '',
    people.groupby([len, key_list]).min(), '', '',
]
o

[          a         b         c         d         e
 3  1.098842 -0.021591  0.334065 -0.314035  1.257399
 5 -0.009525  0.228257  0.454674 -1.764388 -1.368883
 6 -0.243493  2.709913 -1.285328  0.715103  0.840480,
 '',
 '',
               a         b         c         d         e
 3 one -1.764000 -1.242892  0.021800 -0.626431  0.099864
   two  1.478778  0.845218  0.312265  0.312396  0.075188
 5 one -0.009525  0.228257  0.454674 -1.764388 -1.368883
 6 two -0.243493  2.709913 -1.285328  0.715103  0.840480,
 '',
 '']

## Grouping by Index Levels

In [54]:
columns = pandas.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                         [1, 3, 5, 1, 3]],
                                        names=['cty', 'tenor'])
hier_df = pandas.DataFrame(np.random.randn(4, 5), columns=columns)
o = [
    '', '',
    hier_df, '', '',
    hier_df.groupby(level='cty', axis=1).sum()
]
o

['',
 '',
 cty          US                            JP
 tenor         1         3         5         1         3
 0      0.374574 -0.507799 -1.082090  0.379630  0.727375
 1      0.391274 -1.325102  0.158865 -0.396938 -0.816429
 2      0.796225  0.657276  2.289078  0.568782 -1.117907
 3     -1.149917  0.142983 -0.548200 -0.140059 -0.275473,
 '',
 '',
 cty        JP        US
 0    1.107005 -1.215315
 1   -1.213368 -0.774964
 2   -0.549126  3.742579
 3   -0.415533 -1.555133]

# Data Aggregation

In [55]:
df

  key1 key2  data1  data2
0    a  one      2      6
1    a  two      2      7
2    b  one      3      8
3    b  two      4      9
4    a  one      5     10

In [56]:
"""
.quantile()
.agg()
.describe()
"""


def peak_to_peak(arr):
    return arr.max() - arr.min()


grouped = df.groupby('key1')
o = [
    '', 'grouped.quantile(0.9)',
    grouped.quantile(0.9), '', 'grouped.agg(peak_to_peak)',
    grouped.agg(peak_to_peak),
    grouped.describe()
]
o

['',
 'grouped.quantile(0.9)',
       data1  data2
 key1
 a       4.4    9.4
 b       3.9    8.9,
 '',
 'grouped.agg(peak_to_peak)',
       data1  data2
 key1
 a         3      4
 b         1      1,
      data1                                           data2            \
      count mean       std  min   25%  50%   75%  max count      mean
 key1
 a      3.0  3.0  1.732051  2.0  2.00  2.0  3.50  5.0   3.0  7.666667
 b      2.0  3.5  0.707107  3.0  3.25  3.5  3.75  4.0   2.0  8.500000


            std  min   25%  50%   75%   max
 key1
 a     2.081666  6.0  6.50  7.0  8.50  10.0
 b     0.707107  8.0  8.25  8.5  8.75   9.0  ]

## Column-Wise and Multiple Function Application

In [57]:
"""
.groupby().agg(tuples)
.groupby().agg(dictionary)
"""

'\n.groupby().agg(tuples)\n.groupby().agg(dictionary)\n'

## Returning Aggregated Data Without Row Indexes

In [58]:
# as_index=False to .groupby()
g = df.groupby(['key1', 'key2'], as_index=False)

# Apply: General split-apply-combine

In [59]:
"""

.groupby().apply(function_ref) // internally uses pandas.concat()

to pass in additional params e.g.
tips.groupby(['smoker', 'day'])
    .apply(top, n=1, column='total_bill') // 'top' is the function

can use .unstack() on a .describe()
result = tips.groupby('smoker')['tip_pct'].describe()
result.unstack('smoker')

"""


def top(dataframe, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

## Suppressing the Group Keys

In [60]:
"""

Can pass group_keys=False to .groupby()
tips.groupby('smoker', group_keys=False).apply(top)

"""

"\n\nCan pass group_keys=False to .groupby()\ntips.groupby('smoker', group_keys=False).apply(top)\n\n"

## Quantile and Bucket Analysis

In [61]:
"""

- We can pass a categorical object created by .cut() "equal-length"
quartiles = pd.cut(frame.data1, 4)
grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack() // get_stats() is beneath this multi-line comment

- using .qcut() "equal-size"
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

"""


def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}

## Example: Filling missing Values with Group specific values

In [62]:
# code

## Example: Random Sampling and Permutation

In [63]:
# code

## Example: Group Weighted Average and Correlation

In [64]:
# code

## Example: Group-Wise Linear Regression

In [65]:
# code

# Pivot Tables and Cross Tabulation
## Cross Tabulations: Crosstab

In [66]:
# code