In [1]:
import pandas
import numpy as np

df = pandas.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                       'key2' : ['one', 'two', 'one', 'two', 'one'],
                       'data1' : np.random.randn(5),
                       'data2' : np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -1.844950  0.482674
1    a  two  1.035919  0.827609
2    b  one  0.194768  1.035935
3    b  two  0.083033 -1.060651
4    a  one  0.387052  0.969225

In [24]:
df2 = pandas.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                       'key2' : ['one', 'two', 'one', 'two', 'one'],
                       'data1' : [1, None, 3, 4, 5],
                       'data2' : [11, 222, None, 44, 55],
                        'c3': [None, None, None, None, None]})

df2

  key1 key2  data1  data2    c3
0    a  one    1.0   11.0  None
1    a  two    NaN  222.0  None
2    b  one    3.0    NaN  None
3    b  two    4.0   44.0  None
4    a  one    5.0   55.0  None

In [25]:
df2[df2.sort_values(by='data2').isnull().any(axis=1)]

<ipython-input-25-99c134a66d7d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[df2.sort_values(by='data2').isnull().any(axis=1)]

  key1 key2  data1  data2    c3
0    a  one    1.0   11.0  None
1    a  two    NaN  222.0  None
2    b  one    3.0    NaN  None
3    b  two    4.0   44.0  None
4    a  one    5.0   55.0  None

In [26]:
df2.any()

key1      True
key2      True
data1     True
data2     True
c3       False
dtype: bool

In [27]:
df2.any(axis=1)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [29]:
df2.isnull().any()

key1     False
key2     False
data1     True
data2     True
c3        True
dtype: bool

In [30]:
df2.isnull().any(axis=1)

0    True
1    True
2    True
3    True
4    True
dtype: bool