In [2]:
import pandas
import numpy as np

'\n\npandas docs itself:\nhttps://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#pandas-equivalents-for-some-sql-analytic-and-aggregate-functions\n\n'

# pandas documentation itself:
https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#pandas-equivalents-for-some-sql-analytic-and-aggregate-functions

# ...WHERE column LIKE '%%'
from:
https://blog.softhints.com/how-to-use-like-operator-in-pandas-dataframe/

*code:*

`df[df['class'].str.contains('a', na=False)]`

In [5]:
data = {'num_legs': [4, 2, 0, 4, 2, 2],
        'num_wings': [0, 2, 0, 0, 2, 2],
         'class':['mammal', 'bird', 'fish', 'mammal', None,'mammal']}
df = pandas.DataFrame(data, index=['dog', 'hawk', 'shark', 'cat', 'crow', 'human'])
# sql like:
df

       num_legs  num_wings   class
dog           4          0  mammal
hawk          2          2    bird
shark         0          0    fish
cat           4          0  mammal
crow          2          2    None
human         2          2  mammal

In [6]:
df[df['class'].str.contains('a', na=False)]

       num_legs  num_wings   class
dog           4          0  mammal
cat           4          0  mammal
human         2          2  mammal

# Another article:

https://towardsdatascience.com/pandas-equivalent-of-10-useful-sql-queries-f79428e60bd9